section{
    text-align: center;
}
label:hover{
    color: turquoise;
}
legend{
    color: teal;
}
form{
    text-align: left;
}
#div_radio{
    margin-left: 25px;
}
fieldset{
    text-align: center;
    border-radius: 10px;
    margin-left: 700px;
    margin-right: 700px;
}
button{
    background-color: teal;
    color: white;
    width: 500px;
    height: 25px;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 5px;
    margin-top: 7px;
}
button:hover{
    background-color: turquoise;
}
